<h2><%= @year + " Movies by Title" %></h1>
<div id="submenu">
  <%= link_to @year + " Viewing Log", viewings_path(year: @year) %> |
  <%= link_to @year + " Movies Ranked", by_rating_movies_path(year: @year) %>
</div>

<% @movies.each do |movie| %>
  <% if signed_in? %>
    <%= link_to movie.title, edit_movie_path(movie) %> <%= movie.director_and_year_display %> <span class="rating"><%= movie.current_rating %></span><br/>
  <% else %>
     <%= movie.title %> <%= movie.director_and_year_display %> <span class="rating"><%= movie.current_rating %></span><br/>
  <% end %>
<% end %>
