<h2>Search movies</h2>

<div class="row">
  <div class="medium-4 columns">
    <%= form_tag(search_movies_path, method: "get", id: "search-form", role: 'form') do %>
    <div class="form-group">
      <%= text_field_tag :title, params[:title], placeholder: "Title", class: 'form-control' %>
    </div>
    <%= submit_tag "Search", class: "btn btn-lrg btn-primary" %>
    <% end %>
  </div>
</div>

<% if @movies %>
  <ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to movie.title, edit_movie_path(movie) %>
      <%= movie.director %>
      <%= movie.year %>
    </li>
  <% end %>
<% end %>
