<%= form_tag(search_movies_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :title, params[:title], placeholder: "Title" %>
<%= submit_tag "Search" %>
<% end %>

<% if @movies %>
  <ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to movie.title, edit_movie_path(movie) %>
      <%= movie.director %>
      <%= movie.year %>
    </li>
  <% end %>
<% end %>
