<h2>Viewing Log <%= @year %></h2>
<div id="submenu">
  <%= link_to @year + " Movies Ranked", by_rating_movies_path(year: @year) %> |
  <%= link_to @year + " Movies by Title", by_title_movies_path(year: @year) %>
</div>
<ul class="movie-list">
  <% @viewings.each do |viewing| %>
    <li><%= viewing.date_display_format %> <%= viewing.movie.title %> <%= viewing.director_and_year_display_format %> <span class="rating"><%= viewing.rating %></span> <% if signed_in? %><span class="edit-link"><%= link_to 'e', edit_movie_path(viewing.movie) %></span><% end %></li>
    <% end %>
</ul>
